<div class="container mb-3">
  <h2>Entrenamientos</h2>
  @if (showWeekLoader) {
  <app-training-csv-loader (trainingWeeks)="listenToLoadingDone($event)"
    (csvLoadingDone)="listenToLoadingDone()"></app-training-csv-loader>
  } @else {
  @if (!storedWeeks.length) {
  <div class="alert alert-warning" role="alert">
    Aún no tienes entrenamientos disponibles. ¡Prueba cargando uno! 🏋️
  </div>
  } @else {
  <h5>Semanas disponibles</h5>
  }
  <ul class="list-group mb-3">
    @for (week of storedWeeks; track week.name) {
    <li class="list-group-item d-flex align-items-center justify-content-between px-3 py-2"
      [class.active]="selectedWeek === week" [class.bg-primary]="selectedWeek === week"
      [class.text-white]="selectedWeek === week" (click)="selectWeek(week)" style="cursor:pointer">
      <span class="fw-bold">{{ week.name }}</span>
      <button title="Borrar semana" type="button" class="btn btn-danger btn-sm ms-3"
        (click)="deleteWeek(week); $event.stopPropagation();">
        <i class="bi bi-trash"></i>
      </button>
    </li>
    }
    <li class="list-group-item d-flex align-items-center justify-content-between px-3 py-2" (click)="addWeek()"
      style="cursor:pointer">
      <span class="fw-bold"> Agregar semana </span>
      <button title="Borrar semana" type="button" class="btn btn-outline-primary btn-sm ms-3"
        (click)="addWeek(); $event.stopPropagation();">
        <i class="bi bi-plus-lg"></i>
      </button>
    </li>
  </ul>
  @if (selectedWeek) {
  <div>
    <h6>Sesiones de la semana {{ selectedWeek.name }}</h6>
    <div class="btn-group mb-3" role="group" aria-label="Sesiones">
      @for (session of selectedWeek.sessions; track session.sessionNumber) {
      <button type="button" class="btn btn-outline-secondary" [class.active]="selectedSession === session"
        (click)="selectSession(session)">
        Sesión {{ session.sessionNumber }}
      </button>
      }
    </div>
  </div>
  }

  @if (selectedSession) {
  <div class="d-flex flex-column mb-3">
    <label for="barbellSelector" class="form-label">Recuerda seleccionar tu barra</label>
    <div class="btn-group" role="group" aria-label="Barras">
      @for (barbell of barbellList; track barbell.value) {
      <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="selectedBarbell === barbell"
        (click)="selectBarbell(barbell)">
        {{ barbell.value }} {{ barbell.unit }}
      </button>
      }
    </div>
  </div>

  <div>
    <h6>Ejercicios de la sesión {{ selectedSession.sessionNumber }}</h6>
    <ul class="list-group">
      @for (ex of selectedSession.exercises; track ex.name) {
      <li class="list-group-item">
        <strong>{{ ex.name }}</strong>
        @if (ex.sets && ex.sets.length > 0) {
        <ul class="list-inline mt-1">
          <div class="d-flex flex-wrap flex-sm-row gap-2">
            @for (set of ex.sets; track set.weightPercent) {
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openCalculatorForSet(ex, set)">
              {{ set.weightPercent ? set.weightPercent + '%' : '' }} {{ set.reps }}
            </button>
            }
          </div>
        </ul>

        } @else {
        <span class="badge bg-primary ms-2">
          {{ ex.repLibres }}
        </span>
        }
        @if (selectedCalculator?.exercise?.exerciseType === ex?.exerciseType && selectedCalculator?.exercise?.name ===
        ex?.name) {
        <div class="mt-3">
          @let exCalc = selectedCalculator?.exercise!;
          @let setCalc = selectedCalculator?.set!;
          @let pr = getPersonalRecordForType(exCalc.exerciseType!);
          <app-bumper-plates-calculator (closedSignal)="closeCalculator()" [externalInputModeInput]="true"
            [initialWeightInput]="selectedBarbell?.value" [initialWeightUnitInput]="selectedBarbell?.unit"
            [desiredWeightInput]="pr && setCalc?.weightPercent ? (pr?.record! * setCalc?.weightPercent! / 100) : pr?.record ?? 20"
            [desiredWeightUnitInput]="selectedBarbell?.unit ?? 'kg'">
          </app-bumper-plates-calculator>
        </div>
        }
      </li>
      }
    </ul>
  </div>
  }
  }
</div>
