<div class="container mt-4">
  <h2>Entrenamientos</h2>
  <h5>Semanas disponibles</h5>
  <div class="btn-group mb-3" role="group" aria-label="Semanas">
    @for (week of storedWeeks; track week.name) {
    <button type="button" class="btn btn-outline-primary" [class.active]="selectedWeek === week"
      (click)="selectWeek(week)">
      {{ week.name }}
    </button>
    }
  </div>

  @if (selectedWeek) {
  <div>
    <h6>Sesiones de la semana {{ selectedWeek.name }}</h6>
    <div class="btn-group mb-3" role="group" aria-label="Sesiones">
      @for (session of selectedWeek.sessions; track session.sessionNumber) {
      <button type="button" class="btn btn-outline-secondary" [class.active]="selectedSession === session"
        (click)="selectSession(session)">
        Sesión {{ session.sessionNumber }}
      </button>
      }
    </div>
  </div>
  }

  @if (selectedSession) {
  <div>
    <h6>Ejercicios de la sesión {{ selectedSession.sessionNumber }}</h6>
    <ul class="list-group">
      @for (ex of selectedSession.exercises; track ex.name) {
      <li class="list-group-item">
        <strong>{{ ex.name }}</strong>
        @if (ex.sets && ex.sets.length > 0) {
        <ul class="list-inline mb-0">
          @for (set of ex.sets; track set.weightPercent) {
          <li class="list-inline-item">
            <button type="button" class="btn btn-outline-info btn-sm" (click)="openCalculatorForSet(ex, set)">
              {{ set.weightPercent ? set.weightPercent + '%' : '' }} {{ set.reps }}
            </button>
          </li>
          }
        </ul>
        } @else {
        <span class="badge bg-info text-dark">
          {{ ex.repLibres }}
        </span>
        }
        @if (selectedCalculator?.exercise?.exerciseType === ex?.exerciseType) {
          <div class="mt-3">
            @let exCalc = selectedCalculator?.exercise!;
            @let setCalc = selectedCalculator?.set!;
            @let pr = getPersonalRecordForType(exCalc.exerciseType!);
            <app-bumper-plates-calculator
              [externalInputModeInput]="true"
              [initialWeightInput]="initialWeight"
              [initialWeightUnitInput]="initialWeightUnit"
              [desiredWeightInput]="pr && setCalc?.weightPercent ? (pr?.record! * setCalc?.weightPercent! / 100) : pr?.record ?? 20"
              [desiredWeightUnitInput]="pr?.recordUnit ?? 'kg'">
            </app-bumper-plates-calculator>
            <button class="btn btn-link btn-sm mt-1" (click)="closeCalculator()">Cerrar</button>
          </div>
        }
      </li>
      }
    </ul>
  </div>
  }
</div>
