<div class="container">
    <h2>Calculadora de discos</h2>
    <div class="form-group">
      <label for="barWeight">Peso de la barra (kg):</label>
      <input type="number" class="form-control" id="barWeight" [(ngModel)]="barWeight" name="barWeight">
    </div>
    <div class="form-group">
      <label for="desiredWeight">Peso deseado:</label>
      <input type="number" class="form-control" id="desiredWeight" [(ngModel)]="desiredWeight" name="desiredWeight">
      <label for="weightUnit"> </label>
      <select id="weightUnit" [(ngModel)]="selectedUnit">
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="calculate()">Calcular</button>
    </div>
    <div *ngIf="requiredBumpers.length > 0">
      <h2>Discos a cargar:</h2>
      <ul>
        <li *ngFor="let bumper of requiredBumpers">{{ bumper.bumperName }} ({{ bumper.quantity }})</li>
      </ul>
      <p>Peso alcanzado: {{ achievedWeight }} lbs</p>
      <p>Peso extra: {{ extraWeight }} lbs</p>
    </div>
  </div>