<div class="container">
  <h2>Calculadora de discos</h2>
  <div class="form-group">
    <label for="initialWeight">Peso de la barra o el total cargado: </label>
    <div class="input-group">
      <input type="number" class="form-control" id="initialWeight" [(ngModel)]="initialWeight" name="initialWeight">
      <label for="initialWeightUnit"> </label>
      <select id="initialWeightUnit" [(ngModel)]="initialWeightUnit">
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="desiredWeight">Peso deseado: </label>
    <div class="input-group">
      <input type="number" class="form-control" id="desiredWeight" [(ngModel)]="desiredWeight" name="desiredWeight">
      <label for="desiredWeightUnit"> </label>
      <select id="desiredWeightUnit" [(ngModel)]="desiredWeightUnit">
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
  </div>
  <div class="form-group button-group">
    <button class="btn btn-primary" (click)="calculate()">Calcular</button>
    <button class="btn btn-primary" (click)="switchDesiredToInitial()">1 2... Switch!</button>
  </div>
  <div *ngIf="requiredBumpers.length > 0">
    <h2>Discos a cargar:</h2>
    <ul>
      <li *ngFor="let bumper of requiredBumpers">{{ bumper.bumperName }} ({{ bumper.quantity }})</li>
    </ul>
    <p>Peso alcanzado: {{ achievedWeight }} {{ desiredWeightUnit }}</p>
    <p>Peso extra: {{ extraWeight }} {{ desiredWeightUnit }}</p>
  </div>
</div>