<div class="container">
  <h2>Calculadora de porcentajes</h2>
  <div class="form-group">
    <label for="personalRecord">Ingresa tu RM: </label>
    <div class="input-group">
      <input type="number" class="form-control" id="personalRecord" [(ngModel)]="personalRecord" name="personalRecord">
      <label for="weightUnit"> </label>
      <select id="weightUnit" [(ngModel)]="selectedUnit">
        <option value="lbs">lbs</option>
        <option value="kg">kg</option>
      </select>
    </div>
  </div>
  <div class="form-group button-group">
    <button class="btn btn-primary" (click)="calculate()">Calcular</button>
    <button class="btn btn-primary" (click)="switchUnit()">1, 2... Switch!</button>
  </div>
  <div *ngIf="percentages[0].percentageWeight > 0">
    <ul>
      <li *ngFor="let p of percentages"><strong>{{ p.percentageName }}: </strong> <a href="#" (click)="sendToPlatesCalculator($event, p)"> {{ p.percentageWeight }} 
        {{p.unit}}</a> </li>
    </ul>
  </div>
</div>