h2 {
    margin-block-start: auto;
    margin-block-end: auto;
}

.form-group {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    button {
        margin-top: 10px;
    }
}