<div class="container">
    <h2>Mis PRs</h2>
    <app-new-pr *ngIf="showNewPR"></app-new-pr>
    <div *ngIf="!showNewPR && personalRecords.length > 0">
        <ul>
            <li *ngFor="let p of personalRecords"> <strong>{{ p.recordName }}: </strong> <a href="#" (click)="sendToPercentageCalculator($event, p)"> {{ p.record }}
                {{p.recordUnit}} </a> </li>
        </ul>
    </div>
    <div class="form-group button-group" *ngIf="!showNewPR">
        <button class="btn btn-primary" (click)="addNewPR()">Nuevo!</button>
    </div>
</div>