nav {
  font-size: 0.8rem;
  height: calc(4rem);
  height: calc(4rem);
  margin-bottom: max(constant(safe-area-inset-bottom), 10px);
  margin-bottom: max(env(safe-area-inset-bottom), 10px);

  .nav-link {
    padding: 0.25rem 0.25rem;
    min-width: 0;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  &.custom-nav {
    border-radius: 50px;
    padding: .15rem;
    margin-left: .85rem;
    margin-right: .85rem;
    background-color: rgba(var(--bs-light-rgb), 0.5) !important;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    font-weight: 700;

    .nav-link {
      border-radius: 50px !important;

      &.active {
        background-color: rgba(13, 110, 253, 0.8);
      }

    }
  }
}

header {
  &.navbar {
    background: var(--bs-body-bg);
    padding-top: calc(.5rem + constant(safe-area-inset-top));
    padding-top: calc(.5rem + env(safe-area-inset-top));
  }

  &.custom-header {
    background-color: rgba(var(--bs-body-bg-rgb),0.5)!important;
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
    font-weight: 500;
  }
}

.app-content {
  padding-bottom: calc(4rem + constant(safe-area-inset-bottom)); // space for bottom nav
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}

.has-header {
  // space for fixed header including safe area on notched devices
  padding-top: calc(4rem + constant(safe-area-inset-top));
  padding-top: calc(4rem + env(safe-area-inset-top));
}

.no-header {
  padding-top: 0;
}
