<header *ngIf="!hideHeader" class="navbar navbar-light bg-light fixed-top border-bottom justify-content-center">
  <a class="navbar-brand d-flex align-items-center" routerLink="/home">
    <img src="assets/icons/icon.svg" width="30" height="30" class="me-2" alt="logo">
    <span>Bumper Plates</span>
  </a>
</header>
<main class="app-content" [ngClass]="{ 'has-header': !hideHeader, 'no-header': hideHeader }">
  <router-outlet></router-outlet>
</main>
<nav class="nav nav-pills nav-fill flex-nowrap fixed-bottom bg-light border-top">
  <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="/home" routerLinkActive="active" aria-label="Inicio">
    <i class="bi bi-house"></i>
    <span class="d-none d-sm-block">Home</span>
  </a>
  <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="/entrenamientos" routerLinkActive="active" aria-label="Entrenamientos">
    <i class="bi bi-calendar-check"></i>
    <span class="d-none d-sm-block">Entrenamientos</span>
  </a>
  <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="/marcas" routerLinkActive="active" aria-label="Marcas">
    <i class="bi bi-trophy"></i>
    <span class="d-none d-sm-block">Marcas</span>
  </a>
  <a class="nav-link d-flex flex-column align-items-center justify-content-center" routerLink="/calculadora" routerLinkActive="active" aria-label="Calculadora">
    <i class="bi bi-calculator"></i>
    <span class="d-none d-sm-block">Calculadora</span>
  </a>
  <a class="nav-link d-none d-flex flex-column align-items-center justify-content-center" routerLink="/configuraciones" routerLinkActive="active" aria-label="Configuraciones">
    <i class="bi bi-gear"></i>
    <span class="d-none d-sm-block">Config</span>
  </a>
</nav>
