<router-outlet></router-outlet>
<nav class="nav nav-pills nav-fill fixed-bottom bg-light border-top">
  <a class="nav-link" routerLink="/home" routerLinkActive="active" aria-label="Inicio">
    <i class="bi bi-house"></i>
    <span class="d-block">Home</span>
  </a>
  <a class="nav-link" routerLink="/entrenamientos" routerLinkActive="active" aria-label="Entrenamientos">
    <i class="bi bi-calendar-check"></i>
    <span class="d-block">Entrenamientos</span>
  </a>
  <a class="nav-link" routerLink="/marcas" routerLinkActive="active" aria-label="Marcas">
    <i class="bi bi-trophy"></i>
    <span class="d-block">Marcas</span>
  </a>
  <a class="nav-link" routerLink="/calculadora" routerLinkActive="active" aria-label="Calculadora">
    <i class="bi bi-calculator"></i>
    <span class="d-block">Calculadora</span>
  </a>
  <a class="nav-link d-none" routerLink="/configuraciones" routerLinkActive="active" aria-label="Configuraciones">
    <i class="bi bi-gear"></i>
    <span class="d-block">Config</span>
  </a>
</nav>
