.form-group {
    display: flex;
    align-items: stretch;
    flex-direction: column;

    .input-group {
        display: flex;
        align-items: stretch;

        *:not(:first-child) {
            margin-left: 5px;
        }
    }

    &.button-group {
        margin-top: 10px;
    }

}
